body {
}

main {
   margin: 20px;
}   

#posts {
    display: flex;
    flex-direction: column;
}

img {
    width: 60px;
    margin: 20px;
}

.input-group {
    width: 50%;
}

.container {
    display: flex;
    margin: 0%;
}

.delete-button {
  margin: 20px;
}

.tweet {
    margin: 20px;
}